@using StackExchange.Profiling;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("Demo Cqrs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    @Html.ActionLink("Accueil", "Index", "Home",
                    null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Inserts", "Index", "Insert",
                    null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Customers", "Index", "Customer",
                    null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Products", "Index", "Product",
                    null, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewBag.User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Log-in with Helena", "UserChange", "Customer", new { userName = "Helena de Souza" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Log-in with Marcos", "UserChange", "Customer", new { userName = "Marcos de Souza" }, new { @class = "dropdown-item" })
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Histoire par utilisateur
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Marcos de Souza", "HistoryByUsers", "Customer",
                            new { userId = "Marcos de Souza"}, new { @class = "dropdown-item" })
                        @Html.ActionLink("Helena de Souza", "HistoryByUsers", "Customer",
                            new { userId = "Helena de Souza"}, new { @class = "dropdown-item" })
                    </div>
                </li>

              


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Demo Cqrs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appscripts")
    @RenderSection("scripts", required: false)

    @MiniProfiler.Current.RenderIncludes(position: RenderPosition.BottomLeft, showTrivial: true, showTimeWithChildren: true, startHidden: false)
</body>
</html>
